## Valeurs personnelles
*Copie.*
*old.*
.old
.scss
.sass-cache
.wpress

# ignore ALL .log files
*.log

## WordPress
wp-admin
wp-includes

/.htaccess
/license.txt
/readme.html
/wp-*.php
sitemap.xml
sitemap.xml.gz

/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php
/.htaccess

## Example themes
/wp-content/themes/twenty*/

## Example plugin
/wp-content/plugins/hello.php


