## Valeurs personnelles
*Copie.*
*old.*
.old
.scss
.sass-cache

# ignore ALL .log files
*.log

## WordPress
# wp-admin
# wp-includes

/.htaccess
/license.txt
/readme.html
/wp-*.php
sitemap.xml
sitemap.xml.gz

# Ignore tout à la racine, sauf .gitignore et "wp-content"
*
!.gitignore
!wp-content

# Ignore le contenu de "wp-content" sauf "plugins", "themes" et "mu-plugins"
wp-content/*
!wp-content/plugins/
!wp-content/themes/
!wp-content/mu-plugins/

## Configuration
# wp-config.php
/.htaccess

## Example themes
/wp-content/themes/twenty*/

## Example plugin
/wp-content/plugins/hello.php


