:root {
  --top: 0px;
  --left: 0px;
  --transy: 0px;
  --rotate: 15s;
  --posX: 0;
}

.hidden {
  opacity: 0;
}

#page {
  position: relative;
}

/* SECTION FADE IN */
.story,
.studio,
.nomination,
.site-footer {   
  transform: translateY(30px);
}

/* ************************* */
/*       HERO - BANNER       */
/* ************************* */
.banner {
  position: relative;
  object-fit: contain;
  height: 800px;
  background-image: none;
}

.banner__background {
  z-index: -2;
  opacity: 1;
}

.banner__video {  
  z-index: 1;
  opacity: 1;
}

.banner__background, 
.banner__video {
  position: absolute;
  bottom: 0px;
  left: 0px;
  min-width: 1440px !important;  
  animation: move-down 2s 300ms both;
}

.banner__logo {
  position: sticky;
  top: 80px;
  z-index: 10;
  opacity: 1;
  animation: move-up 2s 300ms both, float 6s infinite ease-in-out;  
}

.mouve-up {
  animation: move-up 1s 300ms both;  
}

/* Pour faire apparaitre les éléments en descendant et avec agmentatation de l'opacité */
@keyframes move-down {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }  
  100% {
    transform: translateY(0);
  }
}

/* Pour faire apparaitre les éléments en montant et avec agmentatation de l'opacité */
@keyframes move-up {
  0% {
    transform: translateY(600px);
    opacity: 0;
  } 
  100% {
    transform: translateY(0);  
  }
}


/* Pour faire flotter les éléments */
@keyframes float {
  0% {
    transform: translate(6px,6px);
  }
  12% {
    transform: translate(0px,6px);
  }
  24% {
    transform: translate(6px,-4px);
  }
  36% {
    transform: translate(6px,0px);
  }
  48% {
    transform: translate(-4px,-6px);
  }
  60% {
    transform: translate(0px,-4px);
  }
  72% {
    transform: translate(-8px,6px);
  }
  84% {
    transform: translate(-4px,0px);
  }
  100% {transform: translate(6px,6px); }
}


/* ****************** */
/*       FLOWER       */
/* ****************** */
/* Hibiscus.png */
.story__article::after {
	width: 188px;
	height: 188px;
}

/* Sunflower.png */
.story h2::after,
.site-footer::before {
	width: 155px;
	height: 155px;
}

/* random_flower.png */
#studio h2::before {
  width: 203px;
	height: 203px;
}

/* flower.png */
#studio h2::after {
  width: 109px;
	height: 109px;
}

/* orchid.png */
.site-footer::after {
  width: 173px;
  height: 173px;
}

.story__article::after,
#studio h2::before,
.story h2::after,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.nomination::before,
.nomination::after,
.site-footer ul::after {
  animation: rotate-flower var(--rotate) ease-in-out infinite;
}

@keyframes rotate-flower {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* ************************ */
/*       LIEU - Nuage       */
/* ************************ */
.story #place {
  position:relative;
  background-image: url("../images/Studio_Koukaki-image_place.png");
  z-index: -1;
}

#place .place--big_cloud,
#place .place--little_cloud {
  position: absolute;
  filter: blur(12px);
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  z-index: 2;
}

#place .place--big_cloud {
  height: 122px;	
  top: 70px;
  right: 90px;
  transform: translateX(var(--posX));
}

#place .place--little_cloud {
  height: 55px;	
	top: 250px;
  right: 500px;
  transform: translateX(var(--posX));
}


/* ******************** */
/*       TITLE H2       */
/* ******************** */
.story h2,
.studio h2 {
  color: transparent;
  width: auto;
  height: 202px;
  width: 100%;
  z-index: -1;
}

.story span,
.studio span {
  position: absolute;
  color: #FFF5E9;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 62px;
  top: 110px;  
  opacity: 0;
  z-index: 4;
  animation: animTitle 1s forwards paused;
}

.studio:hover span,
.story:hover span {
  animation: animTitle 1s forwards;
}


@keyframes animTitle {
	0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

/* **************** */
/*      SWIPER      */
/* **************** */
.story #characters {
  position: relative;
  margin-bottom: 0 !important;
}

#characters span {
  top: 0;
}

.container-swiper {
  width: 100%;
}

swiper-container {
  height: 420px;
  opacity: 1;
  margin-bottom: 7em;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  width: 100%;
  /* min-width: 460px; */
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  max-height: 400px ;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ********************** */
/*       NOMINATION       */
/* ********************** */

.nomination {  
  position: relative;
  padding: 150px 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nomination h3 {
  padding-left: 110px;
  padding-right: 110px;
  max-width: 860px;
	background-image: url("../images/orange_nomination_bg3.png");
  text-align: left;
}

.nomination img {
  height: 100%;
}

/* Suppression des fleurs du pieds de page pour le déplacer dans la nouvelle section- */
.nomination::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}

.nomination::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  top: 0em;
}

.site-footer::before {
  content: '';
}

.site-footer::after {
  content: '';
}

/*  **********************************  */
/*    Media query : max-width: 580px    */
/*  **********************************  */
@media only screen and (max-width: 580px) {
  .banner .banner__video {
    opacity: 0; 
    /* animation: move-down 2s 300ms both; */
  }

  .banner__background {
    opacity: 1;
  }

}
